<!DOCTYPE html>

<html>
<head>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <script>

    function downloadFile(){
      var fileName = document.getElementById( "fileName" ).value;

      document.location.href = "/download" ;
    }

  </script>

</head>
<body>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" id="files-upload" name="uploadFile" multiple/>
    <input type="submit" name="Upload"/>
  </form>
  <form>
    <input type="text" id="fileName" name="fileName"/>
    <input type="button" id="download" name="download" value="DOWNLOAD" onclick="downloadFile()"></input>
    <a href="/download">download</a>
  </form>
</body>
</html>
