<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <style>
    .jumbotron{
      background-color: black;
 	  color: lightgray;
      padding: 100px 25px;
    }
    .container-fluid {
      padding: 60px 50px;
    }
    .col-sm-12{
      padding: 20px 120px 45px 120px;
    }
    @media screen and (max-width: 768px) {
        .col-sm-12 {
            text-align: center;
            margin: 25px 0;
        }
    }
  </style>

  <title>Welcome summer-mvc</title>
</head>
<body>
  <div class="jumbotron text-center">
    <h1>Welcome summer-mvc</h1>
    <p>Very Light Web Application <b>Framework & SDK</b> for Nodejs</p>
  </div>

  <div class="container-fluid text-center">
    <h2>Error Occured</h2>
    <p>Please Check Logs.</p>
  </div>

  <footer class="container-fluid site-footer-container">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 text-center">
      <hr>
      <ul style="list-style: none; margin: 0; padding: 0;">
        <li style="display: inline; padding-left: 30px;"><span class="glyphicon glyphicon-copyright-mark" ></span>&nbsp;2017 Inodient, All rights reserved</li>
        <li style="display: inline; padding-left: 30px;"><a href="https://github.com/inodient/summer-mvc" data-ga-click="Footer, go to contact, text:contact">Get GitHub</a></li>
        <!-- <li style="display: inline; padding-left: 30px;"><a href="https://developer.github.com" data-ga-click="Footer, go to api, text:api">Developer</a></li>
        <li style="display: inline; padding-left: 30px;"><a href="https://shop.github.com" data-ga-click="Footer, go to shop, text:shop">Facebook</a></li>
        <li style="display: inline; padding-left: 30px;"><a href="/index" data-ga-click="Footer, go to about, text:about">About</a></li> -->
      </ul>
    </div>
    <div class="col-sm-1"></div>
  </fotter>

</body>
</html>
