<!DOCTYPE html>
<html>
<head>
  <title>WELCOME</title>
</head>
<body>
  <h1>WELCOME</h1>
  <h4><%= result %></h4>
  <form action="/welcomePost" method="post">
    <input type="text" name="inputText" />
    <button onclick="submit">POST</button>
  </form>
</body>
</html>
